<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{general/fragmento :: head}">
  </head>
  <body>
    <header th:replace="~{general/fragmento :: header}"></header>
    <section class="container">
      <div class="row">
        <div th:replace="~{general/fragmento :: ubicacion('6')}"></div>
        <form action="" class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
            <h3>¿Dejanos saber tu comentario!</h3>
            <div class="form mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"/>
          </div>
          <div class="form mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Example textarea</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
        </form>
      </div>
    </section>
    <footer th:replace="~{general/fragmento :: footer}"></footer>
  </body>
</html>
