<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/admin :: layout_admin(~{::section}, @{/css/admin_productos.css})}"
>
  <html lang="en">
    <body>
      <section>
        <h2 class="page-title text-center" th:text="#{inventory.title}"></h2>
        <ul class="nav nav-tabs d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Productos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Promociones</a>
          </li>
          <li class="nav-item ms-auto btn-agregar">
            <a href="#" class="nav-link"
              ><i class="bi bi-plus"></i>Agregar Producto</a
            >
          </li>
        </ul>
        <article>
          <table class="table">
            <thead>
              <tr>
                  <th scope="col"># Id</th>
                  <th scope="col" th:text="#{product.category}"></th>
                  <th scope="col" th:text="#{product.name}"></th>
                  <th scope="col" th:text="#{product.description}"></th>
                  <th scope="col" th:text="#{product.price.label}"></th>
                  <th scope="col">Imagen</th>
                  <th scope="col" th:text="#{product.active}"></th>
                  <th scope="col" th:text="#{product.actions}"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="producto : ${productos}">
                <th scope="row">[[${producto.idProducto}]]</th>
                <td>[[${producto.categoria.nombre}]]</td>
                <td>[[${producto.nombre}]]</td>
                <td>[[${producto.descripcion}]]</td>
                <td>[[${producto.precio}]]</td>
                <td>
                  <img
                    th:src="@{'/img/' + ${producto.nombreImagen}}"
                    alt=""
                    width="40px"
                  />
                </td>
                <td>
                  <input type="checkbox" name="isActive" id="" checked="true" />
                </td>
                <td>
                  <div class="d-flex container-btn-acciones">
                    <button class="btn btn-warning">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button class="btn btn-danger">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </section>
      <div></div>
    </body>
  </html>
</html>
