@import url("../styles.css");



tr {
    text-align: center;
    vertical-align: middle;
}
td {
    vertical-align: middle;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

table {
    font-size:10px;
}

table img {
    width: 70px;
    height: 45px;
    object-fit: contain;
    padding: 4px;
}

table input {
    width: 70px;
    height: 30px;
}

.container-btn-acciones button {
    margin:0 5px;
}

