@import url("../styles.css");


table button {
  margin-right: 5px;
}

tr {
    text-align: center;
    vertical-align: middle;
}
td {
    vertical-align: middle;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

table img {
    width: 70px;
    height: 80px;
    object-fit: contain;
    padding: 4px;
}

table input {
    width: 70px;
    height: 30px;
}

.table-primary {
    background-color: red;
}

.table-secundary {
    background-color: blue;
}

